#logo {
width: 100px;
height: 100px;
float: left;
margin-right: 10px;
}

#logo2 {
width: 100px;
height: 100px;
float: right;
margin-right: 10px;
}
body{
 background-color:green;
}
#beach
{
 display: inline; 
}
#header
{text-align:center;
width:100%;
 background-color:#ccc;
 padding: 10px;
 height:120px;
}

#header2
{
background-color:#ddd;
padding:10px;
font: bold italic 110% serif;
}

#link1
{
background-color:#ddd;
padding:5px;
max-width:250px;
float:left;
}

#link2
{
background-color:#ddd;
padding:5px;
float:left;
}

#link3
{
background-color:#ddd;
padding:5px;
max-width:250px;
float:left;

}

#footer
{
height:40px;
background-color:#ccc;
max-width:150px;
display: flex;
  align-items: center
}
 

div.content {
 max-width:800px;
 background-color:#ccc;
 margin: 0 auto;
 margin-top:20px;
 padding:10px;
}
div.content2 {
 max-width:800px;
 background-color:#ccc;
 margin: 0 auto;
 margin-top:20px;
 padding:10px;
}
div.content3 {
 max-width:800px;
 background-color:#ccc;
 margin: 0 auto;
 margin-top:20px;
 padding:10px;
}

div.navigation {
 max-width:800px;
 background-color:#ccc;
 margin: 0 auto;
 margin-top:20px;
 padding:30px;
display: flex;
  align-items: center
}
#head1
{
 text-align:center;
}
#head3
{
 text-align:center;
}
#head2
{
 text-align:center;
}
#tr1
{
background-color:orange;
}
#tr2
{
background-color:yellow;
}
#tr3
{
background-color:red;

}
table,th,td 
{border: 1px solid black;
}
